<div class="container">
  <header>
    <h1>Angular Router</h1>
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <div class="collapse navbar-collapse">
            <ul>
              <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/input" routerLinkActive="active">input</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/counter" routerLinkActive="active">counter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/bound" routerLinkActive="active">bound</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/form" routerLinkActive="active">form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/progressBar" routerLinkActive="active">progressBar</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>
